.heading{
    color: rgb(194, 45, 45);
}

.parisparagraph{
    background: beige;
}

#pinkbg{
    background: pink
}

.loremspan{
    padding-left: 5px;
    padding-right: 5px;
    border-top: 2px solid black;
    border-bottom: 4px solid gray;
}

.lorem{
    border: 10px lightgreen ridge;
    margin: 5px;
}